body {
    background-color: #E7D7C1;
}

#container {

    width: 90%;
    background-size: 120px 120px;
    background-color: #A78A7F;
    background-position: center;
    display: inline-block;
    transition: 400ms ease-in-out;
}



nav ul {
    
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #A78A7F;
    padding-left: 0;
    font-size: 35px;
    
} 

nav li {
    padding: 10px;
    
}

#container:hover {
    background-color: #735751;
}


a:link, a:visited {
    color: white;
    text-decoration: none;
    transition: 400ms ease-in-out;
    height: 100px;
    width: 100px;
    margin: -100;
    padding: 10px 80px;
    margin: -10px -80px;
    
}

body {
    font-family: 'Josefin Sans', sans-serif;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #735751;
    color: white;
    margin-top: auto;
    min-height: 300px;
}


